{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-10&search_form%5Bdate_to%5D=2017-07-10&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=ISL2201&search_form%5Brun_types%5D%5B0%5D=F&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-final-schedule-at-isl2201-grid-point-2017-07-10-tp-1-2017-07-10-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nISL2201,10/07/2017,1,135.53,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,2,135.01,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,3,134.17,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,4,122.4,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,5,115.22,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,6,112.89,,,11/07/2017 07:33:44,F\nISL2201,10/07/2017,7,116.13,,,11/07/2017 07:[...]
[...]
