{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-12&search_form%5Bdate_to%5D=2017-07-12&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=T&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-interim-schedule-at-ben2201-grid-point-2017-07-12-tp-1-2017-07-12-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nBEN2201,12/07/2017,1,162.11,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,2,162.77,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,3,160.68,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,4,162.73,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,5,145.57,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,6,128,,,13/07/2017 11:34:34,T\nBEN2201,12/07/2017,7,128,,,13/07/2017 11:34:34[...]
[...]
