{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=INV2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=INV2201_25032015.csv"], "X-Db-Content-Length":["982"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node INV2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,95.85\r\n12:30 am,2,83.74\r\n01:00 am,3,84.17\r\n01:30 am,4,74.6\r\n02:00 am,5,69.65\r\n02:30 am,6,77.67\r\n03:00 am,7,77.62\r\n03:30 am,8,77.7\r\n04:00 am,9,80.63\r\n04:30 am,10,89.76\r\n05:00 am,11,94.24\r\n05:30 am,12,89.87\r\n06:00 am,13,81.54\r\n06:30 am,14,90.39\r\n07:00 am,15,73.41\r\n07:30 am,16,85.08\r\n08:00 am,17,79.69\r\n08:30 am,18,102.9\r\n09:00 am,19,76.05\r\n09:30 am,20,87.51\r\n10:00 am,21,77.18\r\n10:30 am,22,80\r\n11:00 am,23,86.28\r\n11:30 am,24,86.77\r\n12:00 pm,25,86.91\r\n12:30 pm,26,101.22\r\n01:00 pm,27,95.53\r\n01:30 pm,28,96.16\r\n02:00 pm,29,96.16\r\n02:30 pm,30,85.87\r\n03:00 pm,31,91.1\r\n03:30 pm,32,90.49\r\n04:00 pm,33,97.12\r\n04:30 pm,34,105.7\r\n05:00 pm,35,105.84\r\n05:30 pm,36,105.7\r\n06:00 pm,37,109.36\r\n06:30 pm,38,109.36\r\n07:00 pm,39,121.99\r\n07:30 pm,40,138.06\r\n08:00 pm,41,152.04\r\n08:30 pm,42,114.56\r\n09:00 pm,43,105.47\r\n09:30 pm,44,94.88\r\n10:00 pm,45,122.29\r\n10:30 pm,46,107.67\r\n11:00 pm,47,107.88\r\n11:30 pm,48,106.29\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:42 GMT"},[...]
