{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=HWB2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HWB2201_25032015.csv"], "X-Db-Content-Length":["982"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HWB2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,93.84\r\n12:30 am,2,82.3\r\n01:00 am,3,82.62\r\n01:30 am,4,73.31\r\n02:00 am,5,68.37\r\n02:30 am,6,74.1\r\n03:00 am,7,74.05\r\n03:30 am,8,74.12\r\n04:00 am,9,76.92\r\n04:30 am,10,85.63\r\n05:00 am,11,89.99\r\n05:30 am,12,88.32\r\n06:00 am,13,80.03\r\n06:30 am,14,88.75\r\n07:00 am,15,71.93\r\n07:30 am,16,83.38\r\n08:00 am,17,78.13\r\n08:30 am,18,100.8\r\n09:00 am,19,74.52\r\n09:30 am,20,83.6\r\n10:00 am,21,73.82\r\n10:30 am,22,76.61\r\n11:00 am,23,82.55\r\n11:30 am,24,83.02\r\n12:00 pm,25,83.16\r\n12:30 pm,26,96.82\r\n01:00 pm,27,91.42\r\n01:30 pm,28,92.05\r\n02:00 pm,29,92.05\r\n02:30 pm,30,82.16\r\n03:00 pm,31,87.17\r\n03:30 pm,32,86.65\r\n04:00 pm,33,93\r\n04:30 pm,34,101.12\r\n05:00 pm,35,101.12\r\n05:30 pm,36,101.12\r\n06:00 pm,37,104.66\r\n06:30 pm,38,104.66\r\n07:00 pm,39,116.74\r\n07:30 pm,40,131.95\r\n08:00 pm,41,145.22\r\n08:30 pm,42,109.41\r\n09:00 pm,43,103.44\r\n09:30 pm,44,93.12\r\n10:00 pm,45,119.94\r\n10:30 pm,46,102.64\r\n11:00 pm,47,102.78\r\n11:30 pm,48,101.2\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:41 GMT"},[...]
