{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-10&search_form%5Bdate_to%5D=2017-07-10&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=HWB2201&search_form%5Brun_types%5D%5B0%5D=F&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-final-schedule-at-hwb2201-grid-point-2017-07-10-tp-1-2017-07-10-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nHWB2201,10/07/2017,1,137.03,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,2,136.52,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,3,134.9,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,4,123.04,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,5,115.85,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,6,112.72,,,11/07/2017 07:33:44,F\nHWB2201,10/07/2017,7,116.39,,,11/07/2017 07:[...]
[...]
