{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=STK2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=STK2201_25032015.csv"], "X-Db-Content-Length":["983"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node STK2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,98.22\r\n12:30 am,2,85.71\r\n01:00 am,3,86.08\r\n01:30 am,4,74.36\r\n02:00 am,5,69.42\r\n02:30 am,6,74.52\r\n03:00 am,7,74.48\r\n03:30 am,8,74.55\r\n04:00 am,9,77.36\r\n04:30 am,10,86.13\r\n05:00 am,11,92.2\r\n05:30 am,12,92\r\n06:00 am,13,83.7\r\n06:30 am,14,95.21\r\n07:00 am,15,80.05\r\n07:30 am,16,91.25\r\n08:00 am,17,85.97\r\n08:30 am,18,110.06\r\n09:00 am,19,81.48\r\n09:30 am,20,90.54\r\n10:00 am,21,79.17\r\n10:30 am,22,82.12\r\n11:00 am,23,89.36\r\n11:30 am,24,89.03\r\n12:00 pm,25,89.17\r\n12:30 pm,26,103.89\r\n01:00 pm,27,98.02\r\n01:30 pm,28,98.68\r\n02:00 pm,29,98.68\r\n02:30 pm,30,88.1\r\n03:00 pm,31,93.47\r\n03:30 pm,32,92.88\r\n04:00 pm,33,99.68\r\n04:30 pm,34,109.48\r\n05:00 pm,35,108.6\r\n05:30 pm,36,108.5\r\n06:00 pm,37,112.27\r\n06:30 pm,38,112.27\r\n07:00 pm,39,125.05\r\n07:30 pm,40,141.41\r\n08:00 pm,41,155.77\r\n08:30 pm,42,117.45\r\n09:00 pm,43,109.94\r\n09:30 pm,44,97.35\r\n10:00 pm,45,125.05\r\n10:30 pm,46,103.88\r\n11:00 pm,47,103.43\r\n11:30 pm,48,101.86\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:48 GMT"},[...]
