{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-13&search_form%5Bdate_to%5D=2017-07-13&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=A&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-prs-schedule-at-ben2201-grid-point-2017-07-13-tp-1-2017-07-13-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nBEN2201,13/07/2017,1,103,,,13/07/2017 00:03:00,A\nBEN2201,13/07/2017,2,179.71,,,13/07/2017 00:33:00,A\nBEN2201,13/07/2017,3,134.31,,,13/07/2017 01:03:00,A\nBEN2201,13/07/2017,4,165.08,,,13/07/2017 01:33:00,A\nBEN2201,13/07/2017,5,170.09,,,13/07/2017 02:03:00,A\nBEN2201,13/07/2017,6,176.47,,,13/07/2017 02:33:00,A\nBEN2201,13/07/2017,7,176.46,,,13/07/2017 03:03[...]
[...]
