{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=BEN2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=BEN2201_25032015.csv"], "X-Db-Content-Length":["967"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node BEN2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,91\r\n12:30 am,2,79.14\r\n01:00 am,3,79.48\r\n01:30 am,4,68.59\r\n02:00 am,5,64.01\r\n02:30 am,6,68.74\r\n03:00 am,7,68.7\r\n03:30 am,8,68.76\r\n04:00 am,9,71.36\r\n04:30 am,10,79.44\r\n05:00 am,11,85.48\r\n05:30 am,12,85.32\r\n06:00 am,13,77.88\r\n06:30 am,14,88.89\r\n07:00 am,15,71.75\r\n07:30 am,16,81.71\r\n08:00 am,17,76.88\r\n08:30 am,18,98.51\r\n09:00 am,19,72.82\r\n09:30 am,20,80.91\r\n10:00 am,21,71.01\r\n10:30 am,22,73.64\r\n11:00 am,23,79.85\r\n11:30 am,24,79.84\r\n12:00 pm,25,79.97\r\n12:30 pm,26,93.23\r\n01:00 pm,27,87.9\r\n01:30 pm,28,88.36\r\n02:00 pm,29,88.36\r\n02:30 pm,30,78.89\r\n03:00 pm,31,83.69\r\n03:30 pm,32,83.29\r\n04:00 pm,33,89.39\r\n04:30 pm,34,97.82\r\n05:00 pm,35,97.36\r\n05:30 pm,36,97.1\r\n06:00 pm,37,100\r\n06:30 pm,38,100\r\n07:00 pm,39,111.55\r\n07:30 pm,40,126.14\r\n08:00 pm,41,138.82\r\n08:30 pm,42,104.59\r\n09:00 pm,43,100\r\n09:30 pm,44,90.37\r\n10:00 pm,45,115.79\r\n10:30 pm,46,95.6\r\n11:00 pm,47,95.37\r\n11:30 pm,48,93.94\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:37 GMT"},[...]
