{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=ISL2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=ISL2201_25032015.csv"], "X-Db-Content-Length":["983"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node ISL2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,95.38\r\n12:30 am,2,83.23\r\n01:00 am,3,83.59\r\n01:30 am,4,72.21\r\n02:00 am,5,67.39\r\n02:30 am,6,72.37\r\n03:00 am,7,72.32\r\n03:30 am,8,72.39\r\n04:00 am,9,75.12\r\n04:30 am,10,83.63\r\n05:00 am,11,89.68\r\n05:30 am,12,89.32\r\n06:00 am,13,81.26\r\n06:30 am,14,92.4\r\n07:00 am,15,77.91\r\n07:30 am,16,88.81\r\n08:00 am,17,83.67\r\n08:30 am,18,107.11\r\n09:00 am,19,79.18\r\n09:30 am,20,88\r\n10:00 am,21,76.94\r\n10:30 am,22,79.8\r\n11:00 am,23,86.84\r\n11:30 am,24,86.51\r\n12:00 pm,25,86.65\r\n12:30 pm,26,100.96\r\n01:00 pm,27,95.25\r\n01:30 pm,28,95.9\r\n02:00 pm,29,95.9\r\n02:30 pm,30,85.62\r\n03:00 pm,31,90.83\r\n03:30 pm,32,90.26\r\n04:00 pm,33,96.87\r\n04:30 pm,34,106.38\r\n05:00 pm,35,105.48\r\n05:30 pm,36,105.39\r\n06:00 pm,37,109.05\r\n06:30 pm,38,109.05\r\n07:00 pm,39,121.64\r\n07:30 pm,40,137.55\r\n08:00 pm,41,151.38\r\n08:30 pm,42,114.06\r\n09:00 pm,43,106.59\r\n09:30 pm,44,94.53\r\n10:00 pm,45,121.43\r\n10:30 pm,46,100.89\r\n11:00 pm,47,100.41\r\n11:30 pm,48,98.91\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:40 GMT"},[...]
