{"http_interactions":[{"request":{"method":"get","uri":"https://www2.electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-24&search_form%5Bdate_to%5D=2017-02-24&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=SFD2201&search_form%5Brun_types%5D%5B0%5D=F&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-final-schedule-at-sfd2201-grid-point-2017-02-24-tp-1-2017-02-24-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nSFD2201,24/02/2017,1,53.99,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,2,62.36,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,3,61.37,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,4,60.52,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,5,57.89,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,6,57.62,,,25/02/2017 07:49:37,F\nSFD2201,24/02/2017,7,53.67,,,25/02/2017 07:4[...]
[...]
