{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-10&search_form%5Bdate_to%5D=2017-07-10&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=STK2201&search_form%5Brun_types%5D%5B0%5D=F&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-final-schedule-at-stk2201-grid-point-2017-07-10-tp-1-2017-07-10-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nSTK2201,10/07/2017,1,139.17,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,2,137.22,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,3,136.23,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,4,124.13,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,5,116.87,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,6,114.32,,,11/07/2017 07:33:44,F\nSTK2201,10/07/2017,7,117.82,,,11/07/2017 07[...]
[...]
