{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=OTA2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=OTA2201_25032015.csv"], "X-Db-Content-Length":["975"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node OTA2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,86.37\r\n12:30 am,2,75.05\r\n01:00 am,3,75.37\r\n01:30 am,4,65.01\r\n02:00 am,5,60.73\r\n02:30 am,6,65.05\r\n03:00 am,7,65.01\r\n03:30 am,8,65.05\r\n04:00 am,9,67.5\r\n04:30 am,10,75.15\r\n05:00 am,11,80.88\r\n05:30 am,12,81.02\r\n06:00 am,13,75.03\r\n06:30 am,14,86.35\r\n07:00 am,15,70.13\r\n07:30 am,16,82.25\r\n08:00 am,17,77.04\r\n08:30 am,18,98.62\r\n09:00 am,19,72.8\r\n09:30 am,20,80.89\r\n10:00 am,21,72.77\r\n10:30 am,22,75.47\r\n11:00 am,23,82.59\r\n11:30 am,24,82.51\r\n12:00 pm,25,82.71\r\n12:30 pm,26,97.26\r\n01:00 pm,27,90.98\r\n01:30 pm,28,88.38\r\n02:00 pm,29,89.26\r\n02:30 pm,30,78.86\r\n03:00 pm,31,84.68\r\n03:30 pm,32,84.78\r\n04:00 pm,33,90.09\r\n04:30 pm,34,99.46\r\n05:00 pm,35,98.94\r\n05:30 pm,36,96.9\r\n06:00 pm,37,97.2\r\n06:30 pm,38,97.02\r\n07:00 pm,39,108.23\r\n07:30 pm,40,122.38\r\n08:00 pm,41,134.42\r\n08:30 pm,42,101.07\r\n09:00 pm,43,96.59\r\n09:30 pm,44,85.28\r\n10:00 pm,45,109.19\r\n10:30 pm,46,89.86\r\n11:00 pm,47,89.7\r\n11:30 pm,48,86.96\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:49 GMT"},[...]
