{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=TUI1101","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=TUI1101_25032015.csv"], "X-Db-Content-Length":["984"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node TUI1101 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,87.67\r\n12:30 am,2,76.18\r\n01:00 am,3,76.5\r\n01:30 am,4,65.97\r\n02:00 am,5,61.63\r\n02:30 am,6,66.03\r\n03:00 am,7,65.99\r\n03:30 am,8,66.03\r\n04:00 am,9,68.52\r\n04:30 am,10,76.28\r\n05:00 am,11,82.11\r\n05:30 am,12,82.17\r\n06:00 am,13,79.24\r\n06:30 am,14,91.24\r\n07:00 am,15,74.22\r\n07:30 am,16,87.11\r\n08:00 am,17,81.66\r\n08:30 am,18,104.53\r\n09:00 am,19,77.22\r\n09:30 am,20,85.56\r\n10:00 am,21,76.86\r\n10:30 am,22,79.71\r\n11:00 am,23,87.25\r\n11:30 am,24,87.17\r\n12:00 pm,25,87.38\r\n12:30 pm,26,102.63\r\n01:00 pm,27,96.34\r\n01:30 pm,28,93.74\r\n02:00 pm,29,94.68\r\n02:30 pm,30,82.75\r\n03:00 pm,31,88.91\r\n03:30 pm,32,88.99\r\n04:00 pm,33,94.57\r\n04:30 pm,34,105.04\r\n05:00 pm,35,103.84\r\n05:30 pm,36,102.31\r\n06:00 pm,37,102.64\r\n06:30 pm,38,98.56\r\n07:00 pm,39,110.24\r\n07:30 pm,40,124.66\r\n08:00 pm,41,136.93\r\n08:30 pm,42,102.95\r\n09:00 pm,43,98.49\r\n09:30 pm,44,86.53\r\n10:00 pm,45,110.78\r\n10:30 pm,46,91.35\r\n11:00 pm,47,91.18\r\n11:30 pm,48,87.9\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:42 GMT"},[...]
