{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=WKM2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=WKM2201_25032015.csv"], "X-Db-Content-Length":["971"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node WKM2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,84.74\r\n12:30 am,2,73.63\r\n01:00 am,3,73.95\r\n01:30 am,4,63.77\r\n02:00 am,5,59.57\r\n02:30 am,6,63.82\r\n03:00 am,7,63.78\r\n03:30 am,8,63.83\r\n04:00 am,9,66.23\r\n04:30 am,10,73.74\r\n05:00 am,11,79.36\r\n05:30 am,12,79.49\r\n06:00 am,13,73.66\r\n06:30 am,14,84.77\r\n07:00 am,15,68.87\r\n07:30 am,16,80.72\r\n08:00 am,17,75.65\r\n08:30 am,18,96.84\r\n09:00 am,19,71.53\r\n09:30 am,20,79.48\r\n10:00 am,21,71.42\r\n10:30 am,22,74.07\r\n11:00 am,23,81.07\r\n11:30 am,24,81\r\n12:00 pm,25,81.19\r\n12:30 pm,26,95.38\r\n01:00 pm,27,89.27\r\n01:30 pm,28,86.83\r\n02:00 pm,29,87.7\r\n02:30 pm,30,77.39\r\n03:00 pm,31,83.11\r\n03:30 pm,32,83.19\r\n04:00 pm,33,88.4\r\n04:30 pm,34,97.61\r\n05:00 pm,35,97.05\r\n05:30 pm,36,95.11\r\n06:00 pm,37,95.41\r\n06:30 pm,38,95.25\r\n07:00 pm,39,106.25\r\n07:30 pm,40,120.14\r\n08:00 pm,41,131.97\r\n08:30 pm,42,99.22\r\n09:00 pm,43,94.72\r\n09:30 pm,44,83.58\r\n10:00 pm,45,107\r\n10:30 pm,46,88.11\r\n11:00 pm,47,87.95\r\n11:30 pm,48,85.13\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:39 GMT"},[...]
