{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=SFD2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=SFD2201_25032015.csv"], "X-Db-Content-Length":["971"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node SFD2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,87.68\r\n12:30 am,2,76.19\r\n01:00 am,3,76.51\r\n01:30 am,4,65.91\r\n02:00 am,5,61.59\r\n02:30 am,6,66.03\r\n03:00 am,7,65.99\r\n03:30 am,8,66\r\n04:00 am,9,68.49\r\n04:30 am,10,76.24\r\n05:00 am,11,82.06\r\n05:30 am,12,82.11\r\n06:00 am,13,76.08\r\n06:30 am,14,87.16\r\n07:00 am,15,70.7\r\n07:30 am,16,83.57\r\n08:00 am,17,77.65\r\n08:30 am,18,99.4\r\n09:00 am,19,73.46\r\n09:30 am,20,81.61\r\n10:00 am,21,73.88\r\n10:30 am,22,76.62\r\n11:00 am,23,83.85\r\n11:30 am,24,83.78\r\n12:00 pm,25,83.98\r\n12:30 pm,26,99.55\r\n01:00 pm,27,92.4\r\n01:30 pm,28,89.21\r\n02:00 pm,29,90.09\r\n02:30 pm,30,80.1\r\n03:00 pm,31,86.03\r\n03:30 pm,32,86.06\r\n04:00 pm,33,91.45\r\n04:30 pm,34,101.04\r\n05:00 pm,35,100.55\r\n05:30 pm,36,97.98\r\n06:00 pm,37,98.32\r\n06:30 pm,38,98.2\r\n07:00 pm,39,109.54\r\n07:30 pm,40,123.86\r\n08:00 pm,41,136.05\r\n08:30 pm,42,102.29\r\n09:00 pm,43,97.76\r\n09:30 pm,44,86.89\r\n10:00 pm,45,111.3\r\n10:30 pm,46,91.69\r\n11:00 pm,47,91.5\r\n11:30 pm,48,89.6\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:37 GMT"},[...]
