{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=HLY2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HLY2201_25032015.csv"], "X-Db-Content-Length":["969"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HLY2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,85.43\r\n12:30 am,2,74.23\r\n01:00 am,3,74.55\r\n01:30 am,4,64.29\r\n02:00 am,5,60.07\r\n02:30 am,6,64.34\r\n03:00 am,7,64.3\r\n03:30 am,8,64.33\r\n04:00 am,9,66.76\r\n04:30 am,10,74.32\r\n05:00 am,11,80\r\n05:30 am,12,80.14\r\n06:00 am,13,74.22\r\n06:30 am,14,85.4\r\n07:00 am,15,69.37\r\n07:30 am,16,81.41\r\n08:00 am,17,76.2\r\n08:30 am,18,97.55\r\n09:00 am,19,72.02\r\n09:30 am,20,80.02\r\n10:00 am,21,72.02\r\n10:30 am,22,74.69\r\n11:00 am,23,81.74\r\n11:30 am,24,81.67\r\n12:00 pm,25,81.86\r\n12:30 pm,26,96.3\r\n01:00 pm,27,90.04\r\n01:30 pm,28,87.44\r\n02:00 pm,29,88.3\r\n02:30 pm,30,78.04\r\n03:00 pm,31,83.81\r\n03:30 pm,32,83.9\r\n04:00 pm,33,89.16\r\n04:30 pm,34,98.43\r\n05:00 pm,35,97.9\r\n05:30 pm,36,95.86\r\n06:00 pm,37,96.16\r\n06:30 pm,38,95.98\r\n07:00 pm,39,107.07\r\n07:30 pm,40,121.07\r\n08:00 pm,41,132.99\r\n08:30 pm,42,99.99\r\n09:00 pm,43,95.51\r\n09:30 pm,44,84.36\r\n10:00 pm,45,107.99\r\n10:30 pm,46,88.91\r\n11:00 pm,47,88.75\r\n11:30 pm,48,86.09\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:49 GMT"},[...]
