{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=25/03/2015&pNode=HAY2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HAY2201_25032015.csv"], "X-Db-Content-Length":["982"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HAY2201 on 25/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,90.36\r\n12:30 am,2,78.54\r\n01:00 am,3,78.88\r\n01:30 am,4,68.07\r\n02:00 am,5,63.52\r\n02:30 am,6,68.21\r\n03:00 am,7,68.17\r\n03:30 am,8,68.24\r\n04:00 am,9,70.81\r\n04:30 am,10,78.83\r\n05:00 am,11,84.83\r\n05:30 am,12,84.67\r\n06:00 am,13,78.46\r\n06:30 am,14,89.55\r\n07:00 am,15,72.3\r\n07:30 am,16,84.4\r\n08:00 am,17,79.4\r\n08:30 am,18,101.75\r\n09:00 am,19,75.21\r\n09:30 am,20,83.57\r\n10:00 am,21,73.34\r\n10:30 am,22,76.06\r\n11:00 am,23,82.47\r\n11:30 am,24,82.46\r\n12:00 pm,25,82.59\r\n12:30 pm,26,96.29\r\n01:00 pm,27,90.79\r\n01:30 pm,28,91.26\r\n02:00 pm,29,91.26\r\n02:30 pm,30,80.09\r\n03:00 pm,31,86.02\r\n03:30 pm,32,86.03\r\n04:00 pm,33,92.33\r\n04:30 pm,34,101.03\r\n05:00 pm,35,100.56\r\n05:30 pm,36,100.29\r\n06:00 pm,37,100.77\r\n06:30 pm,38,100.77\r\n07:00 pm,39,112.4\r\n07:30 pm,40,127.1\r\n08:00 pm,41,139.89\r\n08:30 pm,42,105.37\r\n09:00 pm,43,100.75\r\n09:30 pm,44,89.74\r\n10:00 pm,45,114.98\r\n10:30 pm,46,94.85\r\n11:00 pm,47,94.58\r\n11:30 pm,48,93.22\r\n"},"http_version":null},"recorded_at":"Fri, 27 Mar 2015 08:21:50 GMT"},[...]
