{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=24/03/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "filename=5_minute_prices_BEN2201_24032015.csv"
          ],
          "X-Db-Content-Length": [
            "17887"
          ],
          "Content-Type": [
            "text/comma-separated-values"
          ],
          "Content-Language": [
            "en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nBEN2201,24/03/2015,48,23:55,86.12,SI,IN,I,25/03/2015 00:00:30\nBEN2201,24/03/2015,48,23:50,90.4,SI,IN,I,24/03/2015 23:55:30\nBEN2201,24/03/2015,48,23:45,96.7,SI,IN,I,24/03/2015 23:50:30\nBEN2201,24/03/2015,48,23:40,96.81,SI,IN,I,24/03/2015 23:45:30\nBEN2201,24/03/2015,48,23:35,96.79,S[...]
