{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=05/04/2015&pNode=BEN2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=BEN2201_05042015.csv"], "X-Db-Content-Length":["956"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node BEN2201 on 05/04/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,85\r\n12:30 am,2,84.33\r\n01:00 am,3,88.74\r\n01:30 am,4,99.83\r\n02:00 am,5,88.97\r\n02:30 am,6,85\r\n02:00 am,7,82.89\r\n02:30 am,8,81.73\r\n03:00 am,9,85\r\n03:30 am,10,85\r\n04:00 am,11,85\r\n04:30 am,12,73.12\r\n05:00 am,13,80.3\r\n05:30 am,14,84.18\r\n06:00 am,15,81.88\r\n06:30 am,16,85\r\n07:00 am,17,96.67\r\n07:30 am,18,91.13\r\n08:00 am,19,93.84\r\n08:30 am,20,97.16\r\n09:00 am,21,98.99\r\n09:30 am,22,80\r\n10:00 am,23,62.03\r\n10:30 am,24,77.29\r\n11:00 am,25,60.44\r\n11:30 am,26,63.27\r\n12:00 pm,27,63.1\r\n12:30 pm,28,63.31\r\n01:00 pm,29,64.16\r\n01:30 pm,30,64.72\r\n02:00 pm,31,60\r\n02:30 pm,32,60\r\n03:00 pm,33,60\r\n03:30 pm,34,60\r\n04:00 pm,35,60.3\r\n04:30 pm,36,64.6\r\n05:00 pm,37,66\r\n05:30 pm,38,77.24\r\n06:00 pm,39,91.12\r\n06:30 pm,40,101.65\r\n07:00 pm,41,85.69\r\n07:30 pm,42,66.26\r\n08:00 pm,43,66\r\n08:30 pm,44,70.69\r\n09:00 pm,45,70.17\r\n09:30 pm,46,66\r\n10:00 pm,47,66\r\n10:30 pm,48,66\r\n11:00 pm,49,66\r\n11:30 pm,50,60\r\n"},"http_version":null},"recorded_at":"Wed, 25 Mar 2015 11:00:00 GMT"}],"recorded_with":"VCR 2.9.3"}