{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-07-15&search_form%5Bdate_to%5D=2017-07-15&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=A&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-prs-schedule-at-ben2201-grid-point-2017-07-15-tp-1-2017-07-15-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"UTF-8","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nBEN2201,15/07/2017,1,110.48,,,15/07/2017 00:03:00,A\nBEN2201,15/07/2017,2,123.88,,,15/07/2017 00:33:00,A\nBEN2201,15/07/2017,3,159.79,,,15/07/2017 01:03:00,A\nBEN2201,15/07/2017,4,153.8,,,15/07/2017 01:33:00,A\nBEN2201,15/07/2017,5,157.9,,,15/07/2017 02:03:00,A\nBEN2201,15/07/2017,6,131.41,,,15/07/2017 02:33:00,A\nBEN2201,15/07/2017,7,155.76,,,15/07/2017 03:0[...]
