{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=24/03/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Average",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "filename=5_minute_price_averages_BEN2201_24032015.csv"
          ],
          "X-Db-Content-Length": [
            "2094"
          ],
          "Content-Type": [
            "text/comma-separated-values"
          ],
          "Content-Language": [
            "en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nBEN2201,24/03/2015,48,23:30,94.65,SI,IN,6\nBEN2201,24/03/2015,47,23:00,119.2,SI,IN,6\nBEN2201,24/03/2015,46,22:30,95.83,SI,IN,6\nBEN2201,24/03/2015,45,22:00,88.93,SI,IN,6\nBEN2201,24/03/2015,44,21:30,79.22,SI,IN,6\nBEN2201,24/03/2015,43,21:00,86.11,SI,IN,6\nBEN2201,24/03/2015,42,20:30,93.04,SI,[...]
