{"http_interactions":[{"request":{"method":"get","uri":"https://www2.electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-22&search_form%5Bdate_to%5D=2017-02-22&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=F&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-final-schedule-at-ben2201-grid-point-2017-02-22-tp-1-2017-02-22-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nBEN2201,22/02/2017,1,46.74,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,2,45.77,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,3,46,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,4,45.48,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,5,39.46,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,6,43.68,,,23/02/2017 07:55:50,F\nBEN2201,22/02/2017,7,40.2,,,23/02/2017 07:55:50[...]
