{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2015-02-28&search_form%5Bdate_to%5D=2015-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=I&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-schedule-at-ben2201-grid-point-2015-02-28-tp-1-2015-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\n"},"http_version":null},"recorded_at":"Thu, 02 Mar 2017 08:24:16 GMT"},{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2015-02-28&search_form%5Bdate_to%5D=2015-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=BEN2201&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-ben2201-grid-point-2015-02-28-tp-1-2015-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\n"},"http_version":null},"recorded_at":"Thu, 02 Mar 2017 08:24:16 GMT"}],"recorded_with":"VCR 3.0.3"}
