{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=01/01/2000&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_BEN2201_01012000.csv"], "X-Db-Content-Length":["100"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\n"},"http_version":null},"recorded_at":"Thu, 02 Apr 2015 09:36:55 GMT"},{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=01/01/2000&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_BEN2201_01012000.csv"], "X-Db-Content-Length":["90"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\n"},"http_version":null},"recorded_at":"Thu, 02 Apr 2015 09:36:55 GMT"}],"recorded_with":"VCR 2.9.3"}