{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_BEN2201_02042015.csv"], "X-Db-Content-Length":["2057"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nBEN2201,02/04/2015,48,23:30,74.27,SI,IN,6\nBEN2201,02/04/2015,47,23:00,78.69,SI,IN,6\nBEN2201,02/04/2015,46,22:30,73.61,SI,IN,6\nBEN2201,02/04/2015,45,22:00,79.71,SI,IN,6\nBEN2201,02/04/2015,44,21:30,82.06,SI,IN,6\nBEN2201,02/04/2015,43,21:00,83.33,SI,IN,6\nBEN2201,02/04/2015,42,20:30,94.61,SI,IN,6\nBEN2201,02/04/2015,41,20:00,110.23,SI,IN,6\nBEN2201,02/04/2015[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_BEN2201_02042015.csv"], "X-Db-Content-Length":["17152"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"enc[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HLY2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_HLY2201_02042015.csv"], "X-Db-Content-Length":["17255"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"enc[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_HAY2201_02042015.csv"], "X-Db-Content-Length":["17258"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"enc[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HWB2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_HWB2201_02042015.csv"], "X-Db-Content-Length":["17339"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"enc[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HLY2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_HLY2201_02042015.csv"], "X-Db-Content-Length":["2054"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"bo[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_HAY2201_02042015.csv"], "X-Db-Content-Length":["2056"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"bo[...]
[...]
{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=02/04/2015&INgip=HWB2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_HWB2201_02042015.csv"], "X-Db-Content-Length":["2066"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"bo[...]
[...]
