{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=31/03/2015&pNode=BEN2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=BEN2201_31032015.csv"], "X-Db-Content-Length":["968"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node BEN2201 on 31/03/2015\r\nTime,Trading Period,Price\r\n12:00 am,1,75.14\r\n12:30 am,2,66.79\r\n01:00 am,3,74.13\r\n01:30 am,4,70.14\r\n02:00 am,5,64.66\r\n02:30 am,6,61.99\r\n03:00 am,7,60.58\r\n03:30 am,8,59.42\r\n04:00 am,9,59.17\r\n04:30 am,10,64.12\r\n05:00 am,11,63.33\r\n05:30 am,12,68.32\r\n06:00 am,13,67.21\r\n06:30 am,14,63.33\r\n07:00 am,15,75.54\r\n07:30 am,16,71.04\r\n08:00 am,17,72.23\r\n08:30 am,18,64.87\r\n09:00 am,19,65.64\r\n09:30 am,20,74.74\r\n10:00 am,21,74.5\r\n10:30 am,22,74.8\r\n11:00 am,23,77.97\r\n11:30 am,24,81.71\r\n12:00 pm,25,78.9\r\n12:30 pm,26,82.37\r\n01:00 pm,27,84.7\r\n01:30 pm,28,83.55\r\n02:00 pm,29,82.9\r\n02:30 pm,30,80.65\r\n03:00 pm,31,78.73\r\n03:30 pm,32,80.57\r\n04:00 pm,33,81.35\r\n04:30 pm,34,79.38\r\n05:00 pm,35,77.16\r\n05:30 pm,36,84.95\r\n06:00 pm,37,80.78\r\n06:30 pm,38,74.3\r\n07:00 pm,39,80.78\r\n07:30 pm,40,87.86\r\n08:00 pm,41,88.44\r\n08:30 pm,42,88.32\r\n09:00 pm,43,88.89\r\n09:30 pm,44,83.7\r\n10:00 pm,45,83.53\r\n10:30 pm,46,84.23\r\n11:00 pm,47,82.42\r\n11:30 pm,48,83.67\r\n"},"http_version":null},"recorded_at":"Thu, 02 Apr 2015 07:47:41 GMT"},[...]
{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=31/03/2015&pNode=HLY2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HLY2201_31032015.csv"], "X-Db-Content-Length":["971"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HLY22[...]
[...]
{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=31/03/2015&pNode=HAY2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HAY2201_31032015.csv"], "X-Db-Content-Length":["967"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HAY22[...]
[...]
{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/ftaPage.download?pDate=31/03/2015&pNode=HWB2201","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=HWB2201_31032015.csv"], "X-Db-Content-Length":["965"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"], "X-Pad":["avoid browser bug"]},"body":{"encoding":"UTF-8","string":"Final Prices for Node HWB22[...]
[...]
