{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Average",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition": [
            "filename=5_minute_price_averages_BEN2201_31032015.csv"
          ],
          "X-Db-Content-Length": [
            "2095"
          ],
          "Content-Type": [
            "text/comma-separated-values"
          ],
          "Content-Language": [
            "en"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nBEN2201,31/03/2015,48,23:30,83.31,SI,IN,6\nBEN2201,31/03/2015,47,23:00,82.59,SI,IN,6\nBEN2201,31/03/2015,46,22:30,88.16,SI,IN,6\nBEN2201,31/03/2015,45,22:00,84.77,SI,IN,6\nBEN2201,31/03/2015,44,21:30,82.03,SI,IN,6\nBEN2201,31/03/2015,43,21:00,91.15,SI,IN,6\nBEN2201,31/03/2015,42,20:30,89.27,SI,[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HLY2201&INperiodfrom=1&INperiodto=50&INtype=Price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HWB2201&INperiodfrom=1&INperiodto=50&INtype=Price",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Disposition[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HLY2201&INperiodfrom=1&INperiodto=50&INtype=Average",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Dispositi[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Average",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Dispositi[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=31/03/2015&INgip=HWB2201&INperiodfrom=1&INperiodto=50&INtype=Average",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Dispositi[...]
[...]
