{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=OTA2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_OTA2201_25032015.csv"], "X-Db-Content-Length":["17896"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nOTA2201,25/03/2015,48,23:55,82.3,NI,AK,I,26/03/2015 00:00:30\nOTA2201,25/03/2015,48,23:50,82.5,NI,AK,I,25/03/2015 23:55:30\nOTA2201,25/03/2015,48,23:45,88.27,NI,AK,I,25/03/2015 23:50:30\nOTA2201,25/03/2015,48,23:40,89.99,NI,AK,I,25/03/2015 23:45:30\nOTA2201,25/03/2015,48,23:35,90.48,NI,AK,I,25/03/2015 23:40:30\nOTA2201,25/03/2015,48,23:30,93,NI,AK,I,2[...]
[...]
