{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=OTA2201&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-ota2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nOTA2201,28/02/2017,1,55.15,,,28/02/2017 00:30:30,5\nOTA2201,28/02/2017,2,53.03,,,28/02/2017 01:00:30,5\nOTA2201,28/02/2017,3,55.94,,,28/02/2017 01:30:30,5\nOTA2201,28/02/2017,4,54.21,,,28/02/2017 02:00:30,5\nOTA2201,28/02/2017,5,53.75,,,28/02/2017 02:30:30,5\nOTA2201,28/02/2017,6,53.19,,,28/02/2017 03:00:30,5\nOTA2201,28/02/2017,7,55.27,,,28/02/2017 03:3[...]
[...]
