{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=ISL2201&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-isl2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nISL2201,28/02/2017,1,50.88,,,28/02/2017 00:30:30,5\nISL2201,28/02/2017,2,51.58,,,28/02/2017 01:00:30,5\nISL2201,28/02/2017,3,53.39,,,28/02/2017 01:30:30,5\nISL2201,28/02/2017,4,51.94,,,28/02/2017 02:00:30,5\nISL2201,28/02/2017,5,51.72,,,28/02/2017 02:30:30,5\nISL2201,28/02/2017,6,51.26,,,28/02/2017 03:00:30,5\nISL2201,28/02/2017,7,53.47,,,28/02/2017 03:3[...]
[...]
