{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=HWB2201&search_form%5Brun_types%5D%5B0%5D=I&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-schedule-at-hwb2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nHWB2201,28/02/2017,1,51.56,,,28/02/2017 00:05:30,I\nHWB2201,28/02/2017,1,50.46,,,28/02/2017 00:10:30,I\nHWB2201,28/02/2017,1,49.04,,,28/02/2017 00:15:30,I\nHWB2201,28/02/2017,1,45.98,,,28/02/2017 00:20:30,I\nHWB2201,28/02/2017,1,45.66,,,28/02/2017 00:25:30,I\nHWB2201,28/02/2017,1,45.42,,,28/02/2017 00:30:30,I\nHWB2201,28/02/2017,2,50.09,,,28/02/2017 00:3[...]
[...]
