{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=SFD2201&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-sfd2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nSFD2201,28/02/2017,1,53.26,,,28/02/2017 00:30:30,5\nSFD2201,28/02/2017,2,51.46,,,28/02/2017 01:00:30,5\nSFD2201,28/02/2017,3,54.1,,,28/02/2017 01:30:30,5\nSFD2201,28/02/2017,4,52.43,,,28/02/2017 02:00:30,5\nSFD2201,28/02/2017,5,52.09,,,28/02/2017 02:30:30,5\nSFD2201,28/02/2017,6,51.57,,,28/02/2017 03:00:30,5\nSFD2201,28/02/2017,7,53.62,,,28/02/2017 03:30[...]
[...]
