{"http_interactions":[{"request":{"method":"get","uri":"https://www2.electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=TUI1101&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-tui1101-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nTUI1101,28/02/2017,1,53.71,,,28/02/2017 00:30:30,5\nTUI1101,28/02/2017,2,51.65,,,28/02/2017 01:00:30,5\nTUI1101,28/02/2017,3,54.5,,,28/02/2017 01:30:30,5\nTUI1101,28/02/2017,4,52.83,,,28/02/2017 02:00:30,5\nTUI1101,28/02/2017,5,52.37,,,28/02/2017 02:30:30,5\nTUI1101,28/02/2017,6,51.77,,,28/02/2017 03:00:30,5\nTUI1101,28/02/2017,7,53.65,,,28/02/2017 03:30[...]
[...]
