{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=ISL2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_ISL2201_25032015.csv"], "X-Db-Content-Length":["2110"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nISL2201,25/03/2015,48,23:30,98.24,SI,CH,6\nISL2201,25/03/2015,47,23:00,107.42,SI,CH,6\nISL2201,25/03/2015,46,22:30,110.33,SI,CH,6\nISL2201,25/03/2015,45,22:00,116.77,SI,CH,6\nISL2201,25/03/2015,44,21:30,93.9,SI,CH,6\nISL2201,25/03/2015,43,21:00,104.18,SI,CH,6\nISL2201,25/03/2015,42,20:30,110.17,SI,CH,6\nISL2201,25/03/2015,41,20:00,143.11,SI,CH,6\nISL2201,25/03/[...]
[...]
