{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=HAY2201&search_form%5Brun_types%5D%5B0%5D=I&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-schedule-at-hay2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nHAY2201,28/02/2017,1,54.44,,,28/02/2017 00:05:30,I\nHAY2201,28/02/2017,1,53.67,,,28/02/2017 00:10:30,I\nHAY2201,28/02/2017,1,52.97,,,28/02/2017 00:15:30,I\nHAY2201,28/02/2017,1,48.97,,,28/02/2017 00:20:30,I\nHAY2201,28/02/2017,1,48.75,,,28/02/2017 00:25:30,I\nHAY2201,28/02/2017,1,48.62,,,28/02/2017 00:30:30,I\nHAY2201,28/02/2017,2,51.65,,,28/02/2017 00:3[...]
[...]
