{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=INV2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_INV2201_25032015.csv"], "X-Db-Content-Length":["17932"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nINV2201,25/03/2015,48,23:55,98.98,SI,IN,I,26/03/2015 00:00:30\nINV2201,25/03/2015,48,23:50,99.33,SI,IN,I,25/03/2015 23:55:30\nINV2201,25/03/2015,48,23:45,106.29,SI,IN,I,25/03/2015 23:50:30\nINV2201,25/03/2015,48,23:40,108.19,SI,IN,I,25/03/2015 23:45:30\nINV2201,25/03/2015,48,23:35,108.8,SI,IN,I,25/03/2015 23:40:30\nINV2201,25/03/2015,48,23:30,111.8,SI[...]
[...]
