{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=OTA2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_OTA2201_25032015.csv"], "X-Db-Content-Length":["2090"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nOTA2201,25/03/2015,48,23:30,87.76,NI,AK,6\nOTA2201,25/03/2015,47,23:00,94.86,NI,AK,6\nOTA2201,25/03/2015,46,22:30,98.05,NI,AK,6\nOTA2201,25/03/2015,45,22:00,105.4,NI,AK,6\nOTA2201,25/03/2015,44,21:30,85.74,NI,AK,6\nOTA2201,25/03/2015,43,21:00,93.99,NI,AK,6\nOTA2201,25/03/2015,42,20:30,98.58,NI,AK,6\nOTA2201,25/03/2015,41,20:00,127.43,NI,AK,6\nOTA2201,25/03/2015[...]
[...]
