{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=STK2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_STK2201_25032015.csv"], "X-Db-Content-Length":["2104"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nSTK2201,25/03/2015,48,23:30,101.17,SI,WC,6\nSTK2201,25/03/2015,47,23:00,110.59,SI,WC,6\nSTK2201,25/03/2015,46,22:30,113.58,SI,WC,6\nSTK2201,25/03/2015,45,22:00,120.18,SI,WC,6\nSTK2201,25/03/2015,44,21:30,96.73,SI,WC,6\nSTK2201,25/03/2015,43,21:00,107.35,SI,WC,6\nSTK2201,25/03/2015,42,20:30,113.42,SI,WC,6\nSTK2201,25/03/2015,41,20:00,147.13,SI,WC,6\nSTK2201,25/0[...]
[...]
