{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=ISL2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_ISL2201_25032015.csv"], "X-Db-Content-Length":["17960"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nISL2201,25/03/2015,48,23:55,92.11,SI,CH,I,26/03/2015 00:00:30\nISL2201,25/03/2015,48,23:50,92.43,SI,CH,I,25/03/2015 23:55:30\nISL2201,25/03/2015,48,23:45,98.91,SI,CH,I,25/03/2015 23:50:30\nISL2201,25/03/2015,48,23:40,100.69,SI,CH,I,25/03/2015 23:45:30\nISL2201,25/03/2015,48,23:35,101.26,SI,CH,I,25/03/2015 23:40:30\nISL2201,25/03/2015,48,23:30,104.06,S[...]
[...]
