{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=INV2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_INV2201_25032015.csv"], "X-Db-Content-Length":["2108"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nINV2201,25/03/2015,48,23:30,105.57,SI,IN,6\nINV2201,25/03/2015,47,23:00,115.42,SI,IN,6\nINV2201,25/03/2015,46,22:30,117.76,SI,IN,6\nINV2201,25/03/2015,45,22:00,117.26,SI,IN,6\nINV2201,25/03/2015,44,21:30,94.29,SI,IN,6\nINV2201,25/03/2015,43,21:00,103.12,SI,IN,6\nINV2201,25/03/2015,42,20:30,110.63,SI,IN,6\nINV2201,25/03/2015,41,20:00,143.69,SI,IN,6\nINV2201,25/0[...]
[...]
