{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=HLY2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_HLY2201_25032015.csv"], "X-Db-Content-Length":["17886"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nHLY2201,25/03/2015,48,23:55,81.42,NI,HM,I,26/03/2015 00:00:30\nHLY2201,25/03/2015,48,23:50,81.62,NI,HM,I,25/03/2015 23:55:30\nHLY2201,25/03/2015,48,23:45,87.33,NI,HM,I,25/03/2015 23:50:30\nHLY2201,25/03/2015,48,23:40,89.05,NI,HM,I,25/03/2015 23:45:30\nHLY2201,25/03/2015,48,23:35,89.53,NI,HM,I,25/03/2015 23:40:30\nHLY2201,25/03/2015,48,23:30,92.02,NI,H[...]
[...]
