{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=SFD2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_SFD2201_25032015.csv"], "X-Db-Content-Length":["17912"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nSFD2201,25/03/2015,48,23:55,83.93,NI,PN,I,26/03/2015 00:00:30\nSFD2201,25/03/2015,48,23:50,84.13,NI,PN,I,25/03/2015 23:55:30\nSFD2201,25/03/2015,48,23:45,90.02,NI,PN,I,25/03/2015 23:50:30\nSFD2201,25/03/2015,48,23:40,91.81,NI,PN,I,25/03/2015 23:45:30\nSFD2201,25/03/2015,48,23:35,92.29,NI,PN,I,25/03/2015 23:40:30\nSFD2201,25/03/2015,48,23:30,94.88,NI,P[...]
[...]
