{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_HAY2201_25032015.csv"], "X-Db-Content-Length":["17937"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nHAY2201,25/03/2015,48,23:55,86.82,NI,WN,I,26/03/2015 00:00:30\nHAY2201,25/03/2015,48,23:50,87.12,NI,WN,I,25/03/2015 23:55:30\nHAY2201,25/03/2015,48,23:45,93.22,NI,WN,I,25/03/2015 23:50:30\nHAY2201,25/03/2015,48,23:40,94.91,NI,WN,I,25/03/2015 23:45:30\nHAY2201,25/03/2015,48,23:35,95.45,NI,WN,I,25/03/2015 23:40:30\nHAY2201,25/03/2015,48,23:30,98.08,NI,W[...]
[...]
