{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=SFD2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_SFD2201_25032015.csv"], "X-Db-Content-Length":["2100"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nSFD2201,25/03/2015,48,23:30,89.51,NI,PN,6\nSFD2201,25/03/2015,47,23:00,96.76,NI,PN,6\nSFD2201,25/03/2015,46,22:30,99.77,NI,PN,6\nSFD2201,25/03/2015,45,22:00,106.99,NI,PN,6\nSFD2201,25/03/2015,44,21:30,86.99,NI,PN,6\nSFD2201,25/03/2015,43,21:00,95.24,NI,PN,6\nSFD2201,25/03/2015,42,20:30,99.77,NI,PN,6\nSFD2201,25/03/2015,41,20:00,128.96,NI,PN,6\nSFD2201,25/03/201[...]
[...]
