{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=WKM2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_WKM2201_25032015.csv"], "X-Db-Content-Length":["17851"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nWKM2201,25/03/2015,48,23:55,80.69,NI,HM,I,26/03/2015 00:00:30\nWKM2201,25/03/2015,48,23:50,80.89,NI,HM,I,25/03/2015 23:55:30\nWKM2201,25/03/2015,48,23:45,86.56,NI,HM,I,25/03/2015 23:50:30\nWKM2201,25/03/2015,48,23:40,88.25,NI,HM,I,25/03/2015 23:45:30\nWKM2201,25/03/2015,48,23:35,88.73,NI,HM,I,25/03/2015 23:40:30\nWKM2201,25/03/2015,48,23:30,91.2,NI,HM[...]
[...]
