{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=STK2201&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_STK2201_25032015.csv"], "X-Db-Content-Length":["17989"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nSTK2201,25/03/2015,48,23:55,94.83,SI,WC,I,26/03/2015 00:00:30\nSTK2201,25/03/2015,48,23:50,95.21,SI,WC,I,25/03/2015 23:55:30\nSTK2201,25/03/2015,48,23:45,101.88,SI,WC,I,25/03/2015 23:50:30\nSTK2201,25/03/2015,48,23:40,103.71,SI,WC,I,25/03/2015 23:45:30\nSTK2201,25/03/2015,48,23:35,104.28,SI,WC,I,25/03/2015 23:40:30\nSTK2201,25/03/2015,48,23:30,107.13,[...]
[...]
