{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=TUI1101&INperiodfrom=1&INperiodto=50&INtype=Price","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_prices_TUI1101_25032015.csv"], "X-Db-Content-Length":["17951"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Price,Island,Area,Market Flag,Solution Run Time\r\nTUI1101,25/03/2015,48,23:55,83.37,NI,NR,I,26/03/2015 00:00:30\nTUI1101,25/03/2015,48,23:50,83.58,NI,NR,I,25/03/2015 23:55:30\nTUI1101,25/03/2015,48,23:45,89.43,NI,NR,I,25/03/2015 23:50:30\nTUI1101,25/03/2015,48,23:40,91.18,NI,NR,I,25/03/2015 23:45:30\nTUI1101,25/03/2015,48,23:35,91.68,NI,NR,I,25/03/2015 23:40:30\nTUI1101,25/03/2015,48,23:30,94.22,NI,N[...]
[...]
