{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=TUI1101&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_TUI1101_25032015.csv"], "X-Db-Content-Length":["2099"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nTUI1101,25/03/2015,48,23:30,88.91,NI,NR,6\nTUI1101,25/03/2015,47,23:00,96.28,NI,NR,6\nTUI1101,25/03/2015,46,22:30,99.8,NI,NR,6\nTUI1101,25/03/2015,45,22:00,107.2,NI,NR,6\nTUI1101,25/03/2015,44,21:30,87.24,NI,NR,6\nTUI1101,25/03/2015,43,21:00,95.82,NI,NR,6\nTUI1101,25/03/2015,42,20:30,100.41,NI,NR,6\nTUI1101,25/03/2015,41,20:00,129.8,NI,NR,6\nTUI1101,25/03/2015,[...]
[...]
