{"http_interactions":[{"request":{"method":"get","uri":"https://electricityinfo.co.nz/download/prices?search_form%5Bdate_from%5D=2017-02-28&search_form%5Bdate_to%5D=2017-02-28&search_form%5Bmarket_types%5D%5B0%5D=E&search_form%5Bnodes%5D%5B0%5D=HLY2201&search_form%5Brun_types%5D%5B0%5D=5&search_form%5Btp_from%5D=1&search_form%5Btp_to%5D=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=NZE-energy-prices-for-rtp-avg-schedule-at-hly2201-grid-point-2017-02-28-tp-1-2017-02-28-tp-100.csv"], "Content-Transfer-Encoding":["binary"], "Content-Type":["text/csv"]},"body":{"encoding":"ASCII-8BIT","string":"GIP/GXP,Trading Date,Period,Price,Reserve 6s Price,Reserve 60s Price,Run Time,Run Type\nHLY2201,28/02/2017,1,54.2,,,28/02/2017 00:30:30,5\nHLY2201,28/02/2017,2,52.14,,,28/02/2017 01:00:30,5\nHLY2201,28/02/2017,3,55,,,28/02/2017 01:30:30,5\nHLY2201,28/02/2017,4,53.3,,,28/02/2017 02:00:30,5\nHLY2201,28/02/2017,5,52.85,,,28/02/2017 02:30:30,5\nHLY2201,28/02/2017,6,52.32,,,28/02/2017 03:00:30,5\nHLY2201,28/02/2017,7,54.39,,,28/02/2017 03:30:30,[...]
[...]
