{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=HAY2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_HAY2201_25032015.csv"], "X-Db-Content-Length":["2099"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nHAY2201,25/03/2015,48,23:30,92.6,NI,WN,6\nHAY2201,25/03/2015,47,23:00,100.05,NI,WN,6\nHAY2201,25/03/2015,46,22:30,103.07,NI,WN,6\nHAY2201,25/03/2015,45,22:00,110.37,NI,WN,6\nHAY2201,25/03/2015,44,21:30,89.72,NI,WN,6\nHAY2201,25/03/2015,43,21:00,98.19,NI,WN,6\nHAY2201,25/03/2015,42,20:30,102.65,NI,WN,6\nHAY2201,25/03/2015,41,20:00,132.36,NI,WN,6\nHAY2201,25/03/2[...]
[...]
