{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=BEN2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_BEN2201_25032015.csv"], "X-Db-Content-Length":["2101"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nBEN2201,25/03/2015,48,23:30,93.31,SI,IN,6\nBEN2201,25/03/2015,47,23:00,102.03,SI,IN,6\nBEN2201,25/03/2015,46,22:30,104.66,SI,IN,6\nBEN2201,25/03/2015,45,22:00,111.22,SI,IN,6\nBEN2201,25/03/2015,44,21:30,89.67,SI,IN,6\nBEN2201,25/03/2015,43,21:00,97.68,SI,IN,6\nBEN2201,25/03/2015,42,20:30,101.03,SI,IN,6\nBEN2201,25/03/2015,41,20:00,131.35,SI,IN,6\nBEN2201,25/03/[...]
[...]
