{"http_interactions":[{"request":{"method":"get","uri":"http://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=HWB2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_HWB2201_25032015.csv"], "X-Db-Content-Length":["2108"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nHWB2201,25/03/2015,48,23:30,100.54,SI,IN,6\nHWB2201,25/03/2015,47,23:00,109.94,SI,IN,6\nHWB2201,25/03/2015,46,22:30,112.24,SI,IN,6\nHWB2201,25/03/2015,45,22:00,114.99,SI,IN,6\nHWB2201,25/03/2015,44,21:30,92.49,SI,IN,6\nHWB2201,25/03/2015,43,21:00,101.08,SI,IN,6\nHWB2201,25/03/2015,42,20:30,105.68,SI,IN,6\nHWB2201,25/03/2015,41,20:00,137.29,SI,IN,6\nHWB2201,25/0[...]
[...]
