{"http_interactions":[{"request":{"method":"get","uri":"https://www.electricityinfo.co.nz/comitFta/five_min_prices.download?INchoice=SEL&INdate=25/03/2015&INgip=WKM2201&INperiodfrom=1&INperiodto=50&INtype=Average","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["filename=5_minute_price_averages_WKM2201_25032015.csv"], "X-Db-Content-Length":["2097"], "Content-Type":["text/comma-separated-values"], "Content-Language":["en"]},"body":{"encoding":"UTF-8","string":"Grid Point,Trading Date,Trading Period,Market Time,Average Price,Island,Area,Input Count\r\nWKM2201,25/03/2015,48,23:30,86.05,NI,HM,6\nWKM2201,25/03/2015,47,23:00,93.01,NI,HM,6\nWKM2201,25/03/2015,46,22:30,96.2,NI,HM,6\nWKM2201,25/03/2015,45,22:00,103.37,NI,HM,6\nWKM2201,25/03/2015,44,21:30,84.07,NI,HM,6\nWKM2201,25/03/2015,43,21:00,92.17,NI,HM,6\nWKM2201,25/03/2015,42,20:30,96.78,NI,HM,6\nWKM2201,25/03/2015,41,20:00,125.09,NI,HM,6\nWKM2201,25/03/2015[...]
[...]
